<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <div class="jumbotron">
            <h1> This is great </h1>
            <p>Welcome to templating using EJS</p>
            <p><%= tagline %></p>
            <ul>    
                <% drinks.forEach(function(drink){%>
                    <li><%= drink.name %> - <%= drink.drunkness %> </li>
            <% }) %>
            </ul>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>